# Config example (also default values)

# permanently set alternative root dir. Use ":" to separate multiple roots
# which can be switched at runtime with shift+left/right
# root=/path/to/root

# Fields to be used
URL_FIELD='url'
USERNAME_FIELD='user'
AUTOTYPE_FIELD='autotype'
OTPMETHOD_FIELD='otp_method'

BACK_OPTION='< back'

## Programs to be used
EDITOR='vim -x' # Editor
BROWSER='xdg-open' # Browser

# delay to be used for :delay keyword
delay=2
# rofi-pass needs to close itself before it can type passwords. Set delay here.
wait=0.2
# delay between keypresses when typing (in ms)
type_delay=12

# Clipboard settings
# Possible options: primary, clipboard, both
clip=primary
# Seconds before clearing pass from clipboard
clip_clear=45

## Options for generating new password entries
# open new password entries in editor
edit_new_pass="true"
# set to ':basename' for user field to be set to password basename
default_user="$(whoami)"
default_user2=""

## Misc settings

default_autotype="user :tab pass"
auto_enter='false'
notify='false'

# default shortcuts
help="Alt+h"

kb_type_menu="Alt+t"
kb_type_pass="Alt+P"
kb_type_user="Alt+U"
kb_type_otp="Alt+O"
kb_autotype="Alt+A"

kb_copy_menu="Alt+c"
kb_copy_pass="Alt+p"
kb_copy_user="Alt+u"
kb_copy_url="Alt+l"

kb_create="Alt+n"
kb_read="Alt+o"
kb_update="Alt+a" # and delete

kb_open_url="Alt+4"
kb_qrcode="Alt+q"
kb_previous_root="Alt+bracketleft" # [
kb_next_root="Alt+bracketright" # ]

# --- Functions you can redefine ---
# rofi command. Make sure to have "$@" as last argument
# _rofi () {
# 	rofi -no-auto-select -i -dmenu "$@"
# }

# wrapper for notify command, used if 'notify' option is set to 'true'
# _notify () {
# 	notify-send -e "rofi-pass" "$1"
# }

# _generate_pass() { pass generate --clip --in-place "$@" > /dev/null; }
